.state-registry{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.select-state-column{
    display: flex;
    flex-direction: column;
    margin: auto;

}

.selected-state-container{
    margin: auto;
}