.state-registry{
    width: 100%;
    height: auto;
    margin: 1rem auto 1rem auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.select-state-column{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto 0 auto auto;
}

.selected-state-container{
    margin: auto auto auto 0;
    display: flex;
    width: 40rem;
    height: 100%;
}

.no-selected-state-img{
    margin: 10rem auto auto 5rem;

}