.state-registry{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.select-state-column{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    margin: 1rem 0 auto 10rem;
}

.selected-state-container{
    margin: auto auto auto 0;
    height: 100%;
    display: flex;
    width: 40rem;
}


.no-selected-state-img{
    margin: 10rem auto auto 5rem;
}