@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
.add-new-city {
    background-color: #cae99a;
    padding: 1.5rem;
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
}

.add-new-city::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent transparent #cae99a;
}

.add-new-city-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 18rem;
}

.add-new-city-form-label {
    text-transform: uppercase;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.add-new-city-form-input {
    margin: .3rem 0;
    width: auto;
    outline: 0;
    background: #fff;
    color: #181819;
    padding: .5rem;
    border: 1px solid #181819;
    text-align: center;
}

.add-new-city-form-input::placeholder {
    color: #afafb8;
    font-style: italic;
}

.add-new-city-form-input.empty{
    animation: shakeNewCity 500ms ease;
}

@keyframes shakeNewCity {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(.2rem) rotate(1deg);

    }

    30% {
        transform: translateX(-.2rem) rotate(-1deg);

    }

    50% {
        transform: translateX(.2rem) rotate(1deg);

    }

    70% {
        transform: translateX(-.2rem) rotate(-1deg);

    }

    90% {
        transform: translateX(.2rem) rotate(1deg);

    }
    100% {
        transform: translateX(0);

    }
  }


.add-new-city-form-submit-button {
    transition: .5s ease;
    transition-property: transform, box-shadow;
    background-color: #80ba27;
    border-radius: 5px;
    border: none;
    padding: .5rem 0;
    text-transform: uppercase;
    font-size: .9rem;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.add-new-city-form-submit-button:hover{
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-new-city-form-error{
    margin-top: .3rem;
    text-align: center;
    color: red;
}

