.city-handler{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1rem auto auto auto;
    background-color: #fff;

}

.city-handler-header{
    background-color: rgba(177, 201, 255, .6);
    color: #4a82ff;
    display: flex;
    flex-direction: row;
}

.city-handler-header-title-container{
    display: flex;
    width: 13rem;
}

.city-handler-header-title{
    font-weight: 700;
    text-transform: uppercase;
    margin: auto 0 auto auto;
}

.city-handler-header-current-state-container{
    display: flex;
    width: 100%;
}

.city-handler-header-current-state{
    margin: 1.3rem auto 1.3rem 2rem;

}

.city-handler-body{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.city-handler-body-title-container{
    display: flex;
    width: 13rem;
    font-weight: 700;
}

.city-handler-body-title{
    color: #80b927;
    margin: 2rem 0 auto auto;
    text-transform: uppercase;
}

.city-handler-body-form-container{
    width: 100%;
}

.city-handler-body-form{
    margin: 1.7rem auto auto 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

}

.city-handler-form-input{
    width: 18rem;
    margin: auto .3rem auto 0;
    outline: 0;
    background: #fff;
    color: #181819;
    padding: .3rem 0 .3rem 1rem;
    border: 1px solid #fff;
    font-size: .9rem;
    cursor: pointer;
}

.city-handler-form-input:hover{
    border: 1px solid #ceceda;
}

.city-handler-form-input:focus{
    border: 1px solid #181819;
}

.city-handler-form-input-container{
    margin-left: .5rem;
    display: flex;
    flex-direction: row;
}

.city-handler-form-buttons-container{
    display: flex;
    flex-direction: row;
}

.city-handler-form-button{
    transition: transform .3s ease ;
    margin: 0 0 0 .4rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.city-handler-form-button:hover{
    transform: scale(1.1);
}

.button-icon{
    color: #fff;
}

.delete-button{
    background-color: #e85128;

}
.update-button{
    background-color: #80ba27;

}
.cancel-button{
    background-color: #9b9b9b;
}
